body {
  background-color: lightblue;
}

button{
  background-color: white;
  border: 1px #000;
  border-radius: 10px;
  color: #fff;
  padding: 8px;
}
h1 {
  color: #000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
